#toplevel_page_defer-wordpress {
    display: none;
}

#toplevel_page_defer-wordpress img {
    width: 16px;
    height: 16px;
}

.toplevel_page_defer-wordpress .wrap {
    padding: 0.5rem;
    word-wrap: break-word;
}

.toplevel_page_defer-wordpress .wrap * {
    box-sizing: border-box;
    max-width: 100%;
}

.toplevel_page_defer-wordpress .wrap h1 {
    margin-bottom: 1rem;
}

.toplevel_page_defer-wordpress .wrap h2 {
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.toplevel_page_defer-wordpress .wrap img {
    display: inline-block;
}

.toplevel_page_defer-wordpress .wrap .deferjs-icon {
    width: 28px;
    height: 28px;
    vertical-align: top;
}

.toplevel_page_defer-wordpress .wrap p {
    line-height: 1.5;
}
.toplevel_page_defer-wordpress .wrap code {
    font-size: smaller;
    line-height: inherit;
}

.toplevel_page_defer-wordpress .wrap pre code {
    display: block;
    line-height: 1.5;
}

.toplevel_page_defer-wordpress .wrap tr {
    border-bottom: 1px #f0f0f0 solid;
}

.toplevel_page_defer-wordpress .wrap fieldset textarea,
.toplevel_page_defer-wordpress .wrap fieldset input[type="text"],
.toplevel_page_defer-wordpress .wrap fieldset input[type="number"] {
    width: 100%
}

.toplevel_page_defer-wordpress .wrap fieldset textarea {
    font-size: smaller;
}

.toplevel_page_defer-wordpress .wrap fieldset .help {
    font-size: smaller;
    color: #555;
}

.toplevel_page_defer-wordpress .wrap fieldset .help.notice {
    font-size: smaller;
    color: rgb(255, 123, 0);
}

.toplevel_page_defer-wordpress .wrap .submit {
    padding: 0;
}

.toplevel_page_defer-wordpress .wrap .donate {
    text-align: center;
}

.toplevel_page_defer-wordpress .wrap .donate>* {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
}

@media screen and (min-width: 760px) {
    .toplevel_page_defer-wordpress .wrap .main {
        width: 70%;
        float: left;
        padding-right: 2rem;
    }
    .toplevel_page_defer-wordpress .wrap .side {
        margin-top: 0;
        margin-left: 70%;
    }
}